.out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.form {
  display: flex;
  flex-direction: row;
}

.input {
  padding: 5px 10px;
  flex-grow: 1;
  border: 1px solid rgb(163, 163, 163);
  border-right: none;
}
.input,
.suggestionList {
  width: 100%;
}
.suggestionList {
  position: absolute;
  max-width: 400px;
  list-style: none;
  padding: 0;
  cursor: pointer;
  max-height: 300px;
  overflow: scroll;
  z-index: 1;
  background-color: rgb(242, 242, 242);
}
.suggestionListOutlined {
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
}
.suggestion {
  background: inherit;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}
.suggestion:hover {
  background: rgb(218, 237, 212);
}
.wrap {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}
.addBtn {
  width: 50px;
  background: rgb(180, 236, 186);
  border: none;
  font-size: 0.8em;
}
