.out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.input {
  padding: 5px 10px;
  flex-grow: 1;
}
.input,
.suggestionList {
  width: 100%;
}
.suggestionList {
  max-width: 400px;
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.suggestion {
  background: inherit;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}
.suggestion:hover {
  background: rgb(233, 233, 233);
}
