.outter {
  display: flex;
  width: 100%;
  font-size: 1.2em;
  margin-top: 10px;
}
.wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.button {
  background: inherit;
  color: inherit;
  cursor: pointer;
  //   padding: 5px 10px;
}
.checkButton {
  border: 1px solid rgb(54, 102, 44);
  border-radius: 50%;
  font-size: 0.9em;
  margin-right: 10px;
  color: inherit;
}
.deleteButton {
  border: none;
  color: rgb(244, 71, 71);
}
.strike {
  text-decoration: line-through;
}
.disabled,
.disabled .deleteButton,
.disabled .checkButton {
  color: rgb(182, 182, 182);
}
.disabled .checkButton {
  border: 1px solid rgb(255, 255, 255);
}
